
  
header {
  background-color:black;
  width: 95vw;
}
.logo {
  margin-top:10px;
  padding: 15px;
  float:left;
  height:45px;
}
.navigationtable a{
  color:lightsalmon;
  text-decoration: none;

  float: left; 
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
nav {
  padding-top: 5px;
  padding-bottom: 65px;
}
nav li {
  list-style-type: none;
  font-size:2em;
}
