html {
  background-color:#DABDAD;
}
header {
  background-color:#D85251;
  width: 100%;
}
.logo {
  margin-top:10px;
  padding: 15px;
  float:right;
  height:50px;
}
.navigationtable a{
  color:black;
  text-decoration: none;

  float: left; 
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
nav {
  padding-top: 5px;
  padding-bottom: 65px;
}
nav li {
  list-style-type: none;
  font-size:2em;
}
.homeimages {
  margin: auto;
  display: block;
  text-align:right;
  width: 60vw;
}
footer {
  background-color:#D49A6A;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: 50px;
  width: 100%;
  /*To keep footer at bottom of page*/
  height: 50px;
  position:fixed;
  left: 0;
  bottom: 0;
}
/*Media Queries!*/
@media screen and (max-width: 632px) {
  .logo {
  height:30px;
}
  .navigationtable {
  font-size:1.5em;
}  
}
@media screen and (max-width: 500px) {
  .logo {
    height: 25px;
  }
  .navigationtable {
    font-size: 1em;
  }
}
@media screen and (max-width: 380px) {
  .logo {
    height: 20px;
  }
  .navigationtable {
    font-size: .6em;
  }
}
@media screen and (max-width: 280px) {
  .logo {
    height: 10px;
  }
  .navigationtable {
    font-size: .4em;
  }
}
