body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right,rgb(71, 112, 247), white,rgb(241, 60, 60));
    margin: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: 90%;
}
.container {
    width: 100%;
    margin: 20px;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.chat-container, .seo-container, .competitor-container {
    flex: 1 1 calc(33.333% - 40px);
    margin: 20px;
    box-sizing: border-box;
}
.seo-container{
    min-width: 50%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 80vh;
    overflow-y: auto;
}

#schema-result{
    overflow-y: scroll;
    min-height: 199px;
    max-height: 200px;
}
.chat-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.user-message {
    background-color: #4CAF50;
    color: #fff;
    text-align: right;
}
.user-message .message-content {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.bot-message {
    background-color: #2196F3;
    color: #fff;
}
.bot-message .message-content {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#chat-form {
    align-self: flex-end;
    margin-top: auto;
}
#info-box, .competitor-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    max-width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#info-box h3 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#info-box div {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
#url-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin: 10px;
}
#url-input, input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"], #generate-seo-button, #search-competitors-button, #find-leads-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 10px 20px;
}
#generate-seo-button, #search-competitors-button {
    margin: 20px auto;
    display: block;
}
.lead-container {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#schema-comparison-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
  #comparison-result, #optimized-schema-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    height: 300px;
  }
  .key {
    font-weight: bold;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li > ul {
    margin-left: 20px;
  }
  